[submodule "vim/pathogen"]
	path = vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundles/colors/molokai"]
	path = vim/bundles/colors/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/bundles/colors/solarized"]
	path = vim/bundles/colors/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundles/colors/irblack"]
	path = vim/bundles/colors/irblack
	url = https://github.com/wgibbs/vim-irblack.git
[submodule "vim/bundles/utils/unimpaired"]
	path = vim/bundles/utils/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundles/utils/ctrlp"]
	path = vim/bundles/utils/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundles/utils/fugitive"]
	path = vim/bundles/utils/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundles/utils/nerdcommenter"]
	path = vim/bundles/utils/nerdcommenter
	url = https://github.com/ddollar/nerdcommenter.git
[submodule "vim/bundles/utils/zoomwin"]
	path = vim/bundles/utils/zoomwin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "vim/bundles/utils/nerdtree"]
	path = vim/bundles/utils/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundles/syntaxes/markdown"]
	path = vim/bundles/syntaxes/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundles/syntaxes/rails"]
	path = vim/bundles/syntaxes/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundles/utils/ack"]
	path = vim/bundles/utils/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundles/syntaxes/slim"]
	path = vim/bundles/syntaxes/slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "vim/bundles/utils/tabular"]
	path = vim/bundles/utils/tabular
	url = https://github.com/godlygeek/tabular.git
