[submodule "vim/pathogen"]
	path = vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundles/colors/molokai"]
	path = vim/bundles/colors/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/bundles/colors/solarized"]
	path = vim/bundles/colors/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundles/colors/irblack"]
	path = vim/bundles/colors/irblack
	url = https://github.com/wgibbs/vim-irblack.git
[submodule "vim/bundles/utils/unimpaired"]
	path = vim/bundles/utils/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundles/utils/ctrlp"]
	path = vim/bundles/utils/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundles/utils/fugitive"]
	path = vim/bundles/utils/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundles/utils/nerdcommenter"]
	path = vim/bundles/utils/nerdcommenter
	url = https://github.com/ddollar/nerdcommenter.git
